@import '../variables';

.swiper_faq_response {
    height: 550px !important;
    width: 100%;
    overflow: hidden;
    border: 1ps solid #C62369;

    .swipper-wrapper {
        height: 550px !important;
    }

    .title-icon {
        position: absolute;
        left: 100% !important;
        top: 50% !important;
        transform: translate(-100%, -50%) !important;
        width: 100px;
        opacity: 0;
        transition: 0.2s all ease-in-out;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: flex-start;
    }

    .swiper-slide-active {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: flex-start;

        .title-icon {
            opacity: 1 !important;
        }

        h2 {
            color: #C62369 !important;
        }
    }
}

.faqContainer {
    height: calc(100vh - 100px);
}

.accordionContainer {
    width: fit-content;

    .swiper_faq_content {
        width: fit-content;

        .swiper-wrapper {
            max-width: 650px;
            width: 100%;
            height: fit-content;
        }

        .elementor-accordion {
            display: flex;
            flex-direction: column;
            gap: 60px;


            .elementor-accordion-item {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        .elementor-accordion-item .elementor-tab-title a.elementor-accordion-title,
        .elementor-accordion-item .elementor-tab-title .elementor-active a.elementor-accordion-title {
            font-family: "MADE SOULMAZE", Sans-serif;
            color: $GREEN;
            font-weight: 400;
        }

        p {
            color: $GREEN;
        }

        a {
            color: #C62369;
        }

        &:nth-child(2) {
            text-align: right;
        }
    }

    &:nth-child(2) {
        .swiper_faq_content {
            align-items: flex-end;

            p,
            h3 {
                text-align: right;
            }
        }
    }
}

.tubeContainer {
    width: 125px;
    height: 100%;
    border: 3px solid $GREEN;
    border-top: none;
    border-radius: 0 0 10px 10px;
    justify-content: flex-end;
    overflow: hidden;

    .tube {
        height: 35%;
        background: $PINK;
        animation: wave 0.25s ease-in-out infinite;
    }
}

.questions-number {
    color: #C62369;
    font-family: Quicksand;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.15px;
    transform: translate(-10px, -10px);
}